

$color-text-ppal: magenta;
$color-text-footer: white;
$color-nav-bar: black;
$color-background-ppal: pink;
$color-background-footer: rgb(255, 0, 76);
$color-background-sec: rgba(255, 0, 106, 0.61);


